.table-container {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%
}

caption {
    padding: 2%;
    font-weight: bold;
    font-family: 'Unbounded';
    font-size: 20pt;
    margin: 0.5%;
}

thead {
    background-color: antiquewhite;
}

th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: whitesmoke;
}