.table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%
}

caption {
    padding: 10px;
    font-weight: bold;
    font-family: 'Unbounded';
    font-size: 20pt;
    margin: 0.5%;
}

thead {
    background-color: antiquewhite;
}

th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: whitesmoke;
}

.form-container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 2%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
}

input {
    height: 30px;
    background-color: whitesmoke;
    border: none;
}

button {
    height: 30px;
    background-color: antiquewhite;
    border: 2px solid black;
}